#brand-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

#brand-name h1 {
  margin-bottom: 0;
  font-size: 36px;
  color: var(--text-primary);
  font-family: VT323;
}

#brand-name svg {
  fill: var(--background-secondary);
}

@media screen and (max-width: 892px) {
  #brand-name h1 {
    display: none;
  }
  #brand-name { 
    width: fit-content;
  }
}

/* @media screen and (max-width: 712px) {
  #brand-name svg {
    display: block;
  }
}

@media screen and (max-width: 486px) {
  #brand-name svg {
    display: none;
  }
}

@media screen and (max-width: 384px) {
  #brand-name svg {
    display: block;
  }
  
  #brand-name h1 {
    display: none;
  }
} */