#brand-name {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}

#brand-name h1 {
  margin-bottom: 0;
  font-size: 32px;
  color: var(--text-primary);
  font-family: Exo;
}

#brand-name svg {
  fill: var(--background-secondary);
}

@media screen and (max-width: 768px) {
  #brand-name {
    justify-content: start;
  }
}

@media screen and (max-width: 576px) {
  #brand-name h1{
    display: none;
  }
}