.item {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  transition: none;
  --animation-time: .50s;
}

.item svg {
  width: 50%;
  height: 50%;
}

.item:first-child {
  transform: scale(0.5) translateY(100%) translateX(50%);
}

.item:last-child {
  transform: scale(0.5) translateY(100%) translateX(-50%);
}

.item:first-child,
.item:last-child {
  opacity: 0;
  filter: blur(10px);
}

.item:nth-child(2),
.item:nth-child(4) {
  filter: blur(5px);
  transform: scale(0.7) translateY(25%);
}

.item.prev-left {
  animation: prev-item-left var(--animation-time) forwards;
}

.item.current-left {
  animation: current-item-left var(--animation-time) forwards;
}

.item.next-left {
  animation: next-item-left var(--animation-time) forwards;
}

.item.next-holder-left {
  animation: next-item-holder-left var(--animation-time) forwards;
}

.item.prev-holder-right {
  animation: prev-item-holder-right var(--animation-time) forwards;
}

.item.prev-right {
  animation: prev-item-right var(--animation-time) forwards;
}

.item.current-right {
  animation: current-item-right var(--animation-time) forwards;
}

.item.next-right {
  animation: next-item-right var(--animation-time) forwards;
}

/* Animations on slide to the left */
@keyframes prev-item-left {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(.5) translateX(-143%) translateY(100%);
  }
}

@keyframes current-item-left {
  100% {
    filter: blur(5px);
    transform: scale(0.7) translateX(-143%) translateY(25%);
  }
}

@keyframes next-item-left {
  100% {
    filter: blur(0);
    transform: scale(1) translateX(-100%) translateY(0);
  }
}

@keyframes next-item-holder-left {
  100% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(0.7) translateX(-143%) translateY(25%);
  }
}

/* Animations on slide to the right */
@keyframes prev-item-holder-right {
  100% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(0.7) translateX(143%) translateY(25%);
  }
}

@keyframes prev-item-right {
  100% {
    filter: blur(0);
    transform: scale(1) translateX(100%) translateY(0);
  }
}

@keyframes current-item-right {
  100% {
    filter: blur(5px);
    transform: scale(0.7) translateX(143%) translateY(25%);
  }
}

@keyframes next-item-right {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(.5) translateX(143%) translateY(100%);
  }
}
