.item {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-basis: calc(100% / 3);
  width: calc(100% / 3);
  flex-shrink: 0;
  --animation-time: .55s;

  transform: translateX(-100%);
}

.item svg {
  width: 50%;
  height: 50%;
}

.item:first-child svg,
.item:last-child svg {
  opacity: 0;
  filter: blur(10px);
  transform: scale(0.5) translateY(300%);
}

.item:nth-child(2) svg,
.item:nth-child(4) svg {
  filter: blur(5px);
  transform: scale(0.7) translateY(100%);
}

/* Animations on slide to the left */
.item.prev-left svg {
  animation: prev-item-left var(--animation-time) forwards;
}

.item.current-left svg {
  animation: current-item-left var(--animation-time) forwards;
}

.item.next-left svg {
  animation: next-item-left var(--animation-time) forwards;
}

.item.next-holder-left svg {
  animation: next-item-holder-left var(--animation-time) forwards;
}

@keyframes prev-item-left {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0.5) translateX(-200%) translateY(300%);
  }
}

@keyframes current-item-left {
  100% {
    filter: blur(5px);
    transform: scale(0.7) translateX(-285%) translateY(100%);
  }
}

@keyframes next-item-left {
  100% {
    filter: blur(0);
    transform: scale(1) translateX(-200%) translateY(0);
  }
}

@keyframes next-item-holder-left {
  100% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(0.7) translateX(-285%) translateY(100%);
  }
}

/* Animations on slide to the right */
.item.prev-holder-right svg {
  animation: prev-item-holder-right var(--animation-time) forwards;
}

.item.prev-right svg {
  animation: prev-item-right var(--animation-time) forwards;
}

.item.current-right svg {
  animation: current-item-right var(--animation-time) forwards;
}

.item.next-right svg {
  animation: next-item-right var(--animation-time) forwards;
}

@keyframes prev-item-holder-right {
  100% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(0.7) translateX(285%) translateY(100%);
  }
}

@keyframes prev-item-right {
  100% {
    filter: blur(0);
    transform: scale(1) translateX(200%) translateY(0);
  }
}

@keyframes current-item-right {
  100% {
    filter: blur(5px);
    transform: scale(0.7) translateX(285%) translateY(100%);
  }
}

@keyframes next-item-right {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0.5) translateX(285%) translateY(300%);
  }
}
