#hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
}

#hamburger div {
  background-color: var(--text-primary);
  width: 30px;
  height: 5px;
  border-radius: 5px;
  position: relative;
}

#hamburger.cross div:first-child {
  transform: rotateZ(45deg) translate3d(7px, 7px, 0);
}

#hamburger.cross div:nth-child(2) {
  transform: scale(0);
}

#hamburger.cross div:last-child {
  transform: rotate(-45deg) translate3d(7px, -7px, 0);
}

@media screen and (max-width: 768px) {
  #hamburger {
    display: flex;
  }
}