/* || Fonts */
@font-face {
  font-family: 'VT323';
  src: local('VT323 Regular'), url(../assets/fonts/VT323/VT323-Regular.ttf) format('truetype');
}

/* || Color Vars */

:root {
  --link-color: #4f98ca;
  --link-color-hover: #136499;
}

[data-theme='dark'] {
  --background: #202020;
  --background-secondary: #3282b8;
  --nav-background: #20202060;

  --text-primary: #fafafa;
  --text-secondary: #272727;

  --button-color: var(--text-primary);
  --button-bg: var(--background-secondary);
}

[data-theme='light'] {
  --background: #fafafa;
  --background-secondary: #50d890;
  --nav-background: #fafafa60;

  --text-primary: #272727;
  --text-secondary: #fafafa;

  --button-color: var(--text-primary);
  --button-bg: var(--background-secondary);
}

/* || General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.35s;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
  gap: 10px;

  width: 100vw;
  max-width: 100vw;

  min-height: 100vh;
  max-height: fit-content;

  color: var(--text-primary);
  background-color: var(--background);

  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

a {
  color: var(--link-color);

  text-decoration: inherit;
}

a:hover {
  color: var(--link-color-hover);
}

button,
input[type='submit'],
input[type='reset'] {
  display: flex;

  color: var(--button-color);
  background-color: var(--button-bg);

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
}

button:hover,
input[type='submit']:hover,
input[type='reset']:hover {
  border-color: var(--button-color);
}

button:active,
input[type='submit']:active,
input[type='reset']:active {
  box-shadow: 0 0 5px #333 inset;
  border-color: #333;
}

input,
textarea {
  border: 1px solid var(--background-secondary);
  color: var(--text-primary);
  background-color: var(--background);
  height: 2rem;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-primary);
  -webkit-box-shadow: 0 0 0 1000px var(--background) inset;
}

svg {
  fill: var(--text-primary);
}

/* Animations */

@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
