#presentation-card {
  width: 45vw;
  border-radius: 10px;
  padding: 40px;

  color: var(--text-primary);
  background-color: var(--background);
  animation: zoom-in 1s;
}

#presentation-card h1 {
  font-weight: 500;
}

#presentation-card hr {
  width: 15%;
  height: 1px;
  margin: 20px auto;
}

#presentation-card #my-photo {
  border-radius: 100%;
}

#presentation-card button {
  padding: 0;
}

#presentation-card button a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.6em 1.2em;
  color: var(--text-primary);
}

@media screen and (max-width: 768px) {
  #presentation-card {
    width: 100%;
  }
}